[submodule "ros_helios_hardware"]
	path = ros_helios_hardware
	url = https://github.com/simchanu29/ros_helios_hardware.git
[submodule "helios_CATIA"]
	path = helios_CATIA
	url = https://github.com/simchanu29/helios_CATIA.git
